<!DOCTYPE html>
<html>
<head>
    <title>Erzeugte Dateien</title>
</head>
<body>
    <h2>Datei herunterladen</h2>
    <ul>
        <li><a href="/download/{{ pdf_filename }}">Download PDF</a> (zum Aufhängen und Abhaken)</li>
        <li><a href="/download/{{ csv_filename }}">Download CSV</a> (zur weiteren Verwendung)</li>
        <li><a href="/download/{{ ics_filename }}">Download ICS</a> (zum Import im eMailProgramm wie Outlook/ GMAIL/ Thunderbird)</li>
    </ul><br><br><br>
	<a href="/">Zurück</a>
</body>
</html>